*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  /* font-family: "Montserrat", sans-serif; */
  overflow: hidden;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* font-family: "Courier New", Courier, monospace; */
  display: flex;
  justify-content: center;

  font-family: "Poppins", sans-serif;
}

.web-gl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  opacity: 1;
}
.animate-bg {
  animation: bg 2s ease forwards;
}
.img-con {
  text-align: center;
}

.img-con > img {
  width: 350px;
}

/*? Menu Btn-S */

/* ! loader */

.container {
  --uib-size: 55px;
  --uib-color: white;
  --uib-speed: 1.3s;
  --uib-bg-opacity: 0.1;
  height: calc(var(--uib-size) * (2.1 / 5));
  width: var(--uib-size);
  transform-origin: center;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke: #3ab2ec;

  stroke-dasharray: 15, 85;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: travel var(--uib-speed) linear infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
}

@keyframes travel {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 100;
  }
}

/* //? add to cart BTN */

/*! CART CSS */

.nav-con {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 5;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
  pointer-events: none;
  display: none;
}

.nav-con > img {
  width: 100px;
}

/*! // buttons */

.buttons-con {
  z-index: 10;
  position: absolute;
  bottom: -100px;

  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  gap: 10px;
  padding: 15px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button {
  font-size: 1.5rem;
  padding: 6.12px 12.5px;
  border-radius: 2px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.15s ease-out;
  border: 1px solid #d7d5d5;
  letter-spacing: -0.5px;
  border-radius: 5px;
  /* font-weight: 500; */
}

.active {
  background: #000000;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
}

.button:hover {
  transform: translateY(-4px);
}

.changeFloor {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6.12px;
  border-radius: 5px;
  background: #f5f5f5;
  cursor: pointer;
  border: 1px solid #d7d5d5;
  transition: 0.15s ease-out;
}

.changeFloor > svg {
  pointer-events: none;
}

.changeFloor:hover {
  transform: translateY(-4px);
}

@media screen and (min-width: 768px) {
  .nav-con {
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: inline-block;
  }

  .nav-con > img {
    width: 115px;
  }
}
